.brand-color{
    color: #333333;
}

.brand1-color{
    color: #fff9f9;
}

.brand2-color{
    color: #db903b;
}

.brand3-color{
    color: #846315;
}

.brand4-color{
    color: #7d4802;
}

.brand5-color{
    color: #fff6ea;
}

.brand6-color{
    color: #b88917;
}

.brand7-color{
    color: #282120;
}

.brand8-color{
    color: #e6c2bf;
}

.brand9-color{
    color: #fad02c;
}

.brand-color-background{
    background-color: #333333;
}

.brand1-color-background{
    background-color: #fff9f9;
}

.brand2-color-background{
    background-color: #db903b;
}

.brand3-color-background{
    background-color: #846315;
}

.brand4-color-background{
    background-color: #7d4802;
}

.brand5-color-background{
    background-color: #fff6ea;
}

.brand6-color-background{
    background-color: #b88917;
}

.brand7-color-background{
    background-color: #282120;
}

.brand8-color-background{
    background-color: #e6c2bf;
}

.brand9-color-background{
    background-color: #fad02c;
}