img.hero.main {
    width: 500px;
    height: 500px;
    border-color:rgb(255, 0, 0);
}
body{
     background-color: rgb(0, 255, 157);
     font-size: 35px;
     font-family: Georgia, 'Times New Roman', Times, serif;
     display: flex;
     align-items: center;
     padding: 5px 20px;
     justify-content: stretch;
}
table{
    max-width: 10px;
    margin: 10px;
    width: 10px;
    list-style: square;
    word-spacing: 20px;
    background-color: brown
}
input{
    background-color: rgb(11, 128, 0);
}
