<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Container Test</title>
</head>
<body>
    <div class="wrapper" style="width: 300px">
        <div class="card">
            <div class="card_thumb">
                <img src="./img/7.jpg" alt="">
            </div>
            <div class="card_content">
                <h3 class="card_title">
                    Inspect Element As A Way To Feed Your Curiosity
                </h3>
                <p class="card_desc">
                    One of the best gifts we have as front-end developers is inspect
                    element.
                </p>
            </div>
        </div>
    </div>
</body>
</html>