body {
    
}

h1 {
    padding: 20px;
    background-color: #00ff2a4b;
    align-self: center;
    vertical-align: top;
    text-align: center;

}

ul,
li {
    text-align: center;
    color: rgb(136, 77, 77);
    display: inline;
}


nav.gate.main {
    background-color: #a52a2a;
}

.emphasis {
    color: green;
}

.loginav {
    display: flex;
    flex-direction: column;
    float: right;
    justify-content: space-around;
}